body {
  background-color: var(--dh-color-system-surface);
  color: var(--dh-color-system-on-surface);
  font-family: var(--font-families-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--dts-body-large-font-size);
  line-height: var(--dts-body-large-line-height);
  padding: var(--spacing-null);
  margin: var(--spacing-three-xs);
}

main {
  margin: var(--spacing-three-xs);
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: var(--spacing-three-xs);
  margin-bottom: var(--spacing-three-xs);
  margin-left: var(--spacing-null);
  margin-right: var(--spacing-null);
}

h1 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

h2 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

h3 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

h4 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

h5 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

h6 {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

p {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
  margin: var(--spacing-null);
}

label {
  display: block;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}

button {
  border-radius: var(--radius-sm);
  border: var(--border-null-width);
  padding: var(--spacing-null);

  width: 100%;
}

button label {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
  border-radius: var(--radius-sm);
  border: var(--border-null-width);
}

button label:hover{
  background-color: var(--dh-color-system-state-opacity-sm);
}

button label:active{
  background-color: var(--dh-color-system-state-opacity-md);
}



#primary {
  background-color: var(--dh-color-system-primary);
  color: var(--dh-color-system-on-primary);
}

#success {
  background-color: var(--dh-color-system-success);
  color: var(--dh-color-system-on-success);
}

#warning {
  background-color: var(--dh-color-system-warning);
  color: var(--dh-color-system-on-warning);
}

#danger {
  background-color: var(--dh-color-system-danger);
  color: var(--dh-color-system-on-danger);
}


.card-title {
  padding-bottom: var(--spacing-xxs);
}

.delivery {
  padding-bottom: var(--spacing-xxs);
}

.description {
  padding-bottom: var(--spacing-xxs);
}

.default-state {
  color: var(--dh-color-system-primary);
  font-family: var(--font-families-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--dts-body-large-font-size);
  line-height: var(--dts-body-large-line-height);
  display: inline-block;
}

.success-state {
  color: var(--dh-color-system-success);
}

.warning-state {
  color: var(--dh-color-system-warning);
}

.danger-state {
  color: var(--dh-color-system-danger);
}






.box {
  display: grid;
}

.box .item {
  background-color: var(--dh-color-system-surface-container);
  padding: var(--spacing-xxs);
}

.box .item section {
  background-color: var(--dh-color-system-surface);
  padding: var(--spacing-xxs);
  border-radius: var(--radius-sm);
}


.box-twelwe {
  grid: auto-flow auto / repeat(12, 8.333%);
}

.box-eleven {
  grid: auto-flow auto / repeat(11, 9.09%);
}

.box-ten {
  grid: auto-flow auto / repeat(10, 10%);
}

.box-nine {
  grid: auto-flow auto / repeat(9, 11.111%);
}

.box-eight {
  grid: auto-flow auto / repeat(8, 12.5%);
}

.box-seven {
  grid: auto-flow auto / repeat(7, 14.285%);
}

.box-six {
  grid: auto-flow auto / repeat(6, 16.666%);
}

.box-five {
  grid: auto-flow auto / repeat(5, 20%);
}

.box-four {
  grid: auto-flow auto / repeat(4, 25%);
}

.box-three {
  grid: auto-flow auto / repeat(3, 33.333%);
}

.box-two {
  grid: auto-flow auto / repeat(2, 50%);
}

.box-one {
  grid: auto-flow auto / repeat(1, 100%);
}


.count {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.unit {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
  color: var(--dh-color-system-on-surface-variant);
}


.content p {
  margin: var(--spacing-null);
}


.card-container header, .card-container footer, .card-container .contents, .card-container .preview-container, .description-container {
  padding-bottom: var(--spacing-xxs);
}