body {
  background-color: var(--dts-sys-surface-container);
  color: var(--dts-sys-on-surface);
}


button {
  border-radius: var(--radius-sm);
  border: var(--border-null-width);
  padding: var(--padding-null);
}

button div {
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
  border-radius: var(--radius-sm);
  border: var(--border-null-width);
}

button div:hover{
  background-color: var(--dts-state-layers-hover-sm);
}

button div:active{
  background-color: var(--dts-state-layers-active-md);
}

#primary {
  background-color: var(--dts-sys-primary);
  color: var(--dts-sys-on-primary);
}

#danger {
  background-color: var(--dts-sys-danger);
  color: var(--dts-sys-on-danger);
}

#warning {
  background-color: var(--dts-sys-warning);
  color: var(--dts-sys-on-warning);
}